*{
    text-decoration: none;
    list-style-type: none;

}
body{
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm452-f-014.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c9a1b1405f77180971ff686041bef281');
}